@import './variables';

body {
  background-color: $od-cream;
  font-family: $base-font;
  line-height: 1em;
  letter-spacing: .05em;
}

a {
  text-decoration: none;
  transition: all .15s linear;
  color: $od-medium-purple;
  &:hover {
    color: $od-primary;
  }
}

// Typography
h1, h2, h3, h4, h5, h6 {
  color: $od-primary;
  font-weight: 100;
  font-family: $base-font;
}

h1 { font-size: 3.25em; }

p.Huge {
  font-size: 2.5em;
  line-height: 1.35em;
  font-weight: 100;
}

.Weight {
  &--100 { font-weight: 100 }
  &--200 { font-weight: 200 }
  &--300 { font-weight: 300 }
  &--400 { font-weight: 400 }
  &--500 { font-weight: 500 }
  &--700 { font-weight: 700 }
  &--900 { font-weight: 900 }
}

// Layout
.Block {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  &:nth-child(even) { background-color: $od-cream-dark; }
  &__Contents {
    max-width: 1140px;
    margin: 0 auto;
    padding: 30px;
  }
}

.PageHeader {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 75vh;
  &:nth-child(even) { background-color: $od-cream-dark; }
  &__Contents {
    max-width: 1140px;
    margin: 0 auto;
    padding: 30px;
  }
}

.Page {
  &__Contents {
    max-width: 1100px;
    padding: 50px;
    margin: 0 auto;
  }
}
