@import './variables';

body {
  background-color: $od-cream;
  font-family: $base-font;
  line-height: 1em;
  letter-spacing: .05em;
}

a {
  text-decoration: none;
  transition: all .15s linear;
  color: $od-medium-purple;
  &:hover {
    color: $od-primary;
  }
}

// Typography
h1, h2, h3, h4, h5, h6 {
  color: $od-primary;
  font-weight: 100;
  font-family: $base-font;
  margin-bottom: 1em;
  line-height: 1.2em;
}

h1 {
  font-size: 3.25em;
  @media (max-width: $phone) {
    font-size: 1.75em;
  }
}
h2 {
  font-size: 2.75em;
  @media (max-width: $phone) {
    font-size: 1.5em;
  }
}

p {
  font-size: 1em;
  line-height: 1.25em;
  letter-spacing: 0;

  &.Huge {
    font-size: 2.5em;
    line-height: 1.35em;
    font-weight: 100;
    @media (max-width: $phone) {
      font-size: 1.5em;
    }
  }
  &.Large {
    font-size: 1.15em;
    line-height: 1.35em;
    font-weight: 100;
  }
}

// Forms & Inputs

label {
  font-size: 0.85em;
}
input, textarea {
  outline: none;
  width: 100%;
  font-size: 1.15em;
  font-weight: 100;
  padding: 15px;
  border: none;
  background: rgba(0,0,0,0.02);
  resize: none;
}
button, .button {
  appearance: none;
  -webkit-appearance: none;
  border: 2px solid $od-medium-purple;
  border-radius: 25px;
  padding: 5px 15px;
  background: none;
  color: $od-medium-purple;
  &:disabled {
    color: rgba(0,0,0,0.35);
    border-color: rgba(0,0,0,0.35);
  }
}


// Utils

.Weight {
  &--100 { font-weight: 100 }
  &--200 { font-weight: 200 }
  &--300 { font-weight: 300 }
  &--400 { font-weight: 400 }
  &--500 { font-weight: 500 }
  &--700 { font-weight: 700 }
  &--900 { font-weight: 900 }
}

.Padding {
  &--25 { padding: 25px; }
  &--50 { padding: 50px; }
  &--75 { padding: 75px; }
  &--100 { padding: 100px; }
}

.Text{
  &--Center {
    text-align: center;
  }
}

.Float {
  &--Left {
    float: left;
    width: 80px;
    margin-right: 25px;
  }
}

.Flex {
  display: flex;
  &--Center {
    align-items: center;
    justify-content: center;
  }
}

// Layout
.Block {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  flex-wrap: wrap;
  &:nth-of-type(odd) { background-color: $od-cream-dark; }
  &__Contents {
    max-width: 1100px;
    margin: 0 auto;
    padding: 50px;
  }
}

.PageHeader {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 75vh;
  background-color: $od-primary;
  color: white !important;
  &__Contents {
    max-width: 1100px;
    margin: 0 auto;
    padding: 50px;
    h4 { color: white; font-weight: 500; }
    a { color: $od-medium-purple; &:hover { color: white; } }
    h1 { color: white }
  }
}

.Page {
  width: 100%;
  &__Contents {
    max-width: 1140px;
    padding: 30px 30px;
    margin: 0 auto;
  }
}

// Columns
.Columns {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  &__Column {
    flex-direction: column;
    &--25 {
      flex-basis: 25%;
      flex-direction: column;
      @media (max-width:$tablet) {
        flex-basis: 100%;
      }
    }
    &--33 {
      flex-basis: 33%;
      flex-direction: column;
      @media (max-width:$tablet) {
        flex-basis: 100%;
        padding-bottom: 25px;
      }
    }
    &--50 {
      flex-basis: 50%;
      flex-direction: column;
      @media (max-width:$tablet) {
        flex-basis: 100%;
        padding-bottom: 25px;
      }
    }
    &--100 {
      flex-basis: 100%;
      flex-direction: column;
    }
  }
}

// Background Colors
.Background--Primary {
  background-color: $od-primary;
  color: white;
}

// Gatsby Overrides
.gatsby-resp-image-image {
  box-shadow: none !important;
}

.gatsby-resp-image-link {
  pointer-events: none;
}
