@import 'variables';

.Hero {
  position: relative;
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  &__Contents {
    p {
      color: $od-medium-purple;
      margin: 0;
      text-transform: uppercase;
      text-align: center;
      line-height: 1.25em;
    }
  }
  .LottieControl {
    position: absolute;
    height: 105%;
    width: 105%;
  }
}

.Block {
  &.Intro {
    background-color: $od-cream-dark;
  }
  &.ProofOfWork {
    background-image: url('/img/work/Work__BG.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: $od-primary;
    color: white;
    text-align: center;
    .button {
      font-size: 1.35em;
      padding: 10px 30px;
      border-radius: 50px;
      &:hover { color: white; border-color: white; }
    }
  }
  &.Capabilities {
    background-color: $od-cream-dark;
  }
  &.Network {
    background-color: $od-cream;
  }
}

.IconsBar {
  margin-bottom: 35px;
}
