@import 'variables';

.Hero {
  position: relative;
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  &__Contents {
    p {color: $od-medium-purple; margin: 0; text-transform: uppercase; text-align: center; line-height: 1.25em;}
  }
  .LottieControl {
    position: absolute;
    height: 105%;
    width: 105%;
  }
}
