$hex-url: "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSIyMDBweCIgaGVpZ2h0PSIyMDBweCIgdmlld0JveD0iMCAwIDIwMCAyMDAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwMCAyMDAiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cG9seWdvbiBmaWxsPSIjRkZGRkZGIiBwb2ludHM9IjEzLjQ5OSw0OS44NzYgOTkuODg3LDAgMTg2LjI4NCw0OS44NzkgMTg2LjI4NCwxNDkuNjM1IDk5Ljg4NywxOTkuNTE2IDEzLjQ5OSwxNDkuNjMgIi8+Cjwvc3ZnPg==";

.Network .Page__Graphic {
  width: 180px;
  height: 180px;
}

.Block.Manifesto {
  > h2 {text-align: center; width: 100%; }
  .Columns__Column--33 {
    text-align: center;
    h4 { margin: 15px 0px 10px 0px; }
    p {
      margin-bottom: 75px;
    }
  }
  img {
    width: 80px;
  }
}

.Bios {
  > h2 {text-align: center; width: 100%; }
  .Columns {
    max-width: 1400px;
  }
  .Columns__Column--33:not(last-child) {
    padding-right: 50px;
  }
  &__Pic {
    display: block;
    width: 176px;
    height: auto;
    margin-bottom: 25px;
    mask-image: url($hex-url);
    -webkit-mask-image: url($hex-url);
    -moz-mask-image: url($hex-url);
  }
  p {
    font-size: 0.85em;
  }
}
