@import 'variables';

.Work {
  display: flex;
  flex-wrap: wrap;
  &__Item {
    flex-basis: 30%;
    &:nth-child(n-2) {
      margin-right: 3%;
    }
    img {
      transition: background-color .15s linear;
      background-color: $od-medium-purple;
    }
    &:hover img {
      background-color: $od-primary;
    }
  }
}

.Filter {
  background-color: $od-cream-dark;
  display: flex;
  align-items: center;
  &__Contents {
    width: 1140px;
    padding: 25px 30px;
    margin: 0 auto;
    p { margin: 0;}
  }
}
