@import 'variables';

// Work Item

h4 {
  font-weight: 700;
}

.WorkItem .Columns__Column--50 {
  display: flex;
  align-items: center;
  justify-content: center;
  p { font-size: 1.15em; }
  img { max-width: 300px; }
}

.WorkItem .Block {
  &:nth-of-type(2) {
    background-color: $od-cream-dark;
    .Columns__Column--50:nth-of-type(1) {
      align-items: flex-start;
    }
  }
}
.WorkSections {
  font-size: 1.35em;
  font-weight: 100;
  p {
  }
}

.Services {
  width: 100%;
  ul {
    list-style: none;
    margin: 0;
    li {
      color: rgba(0,0,0,0.65);
      font-weight: 100;
    }
  }
}

.BackToWork {
  padding: 50px 0px;
  text-align: center;
}

// Center Work Item Images (gifs need special assistance)
.WorkCenter .Page {
  img { 
    max-width: 100%; 
    margin-bottom: 75px;
    margin-left: 50%;
    left: 50% !important;
    transform: translateX(-50%);
  }
}
